*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*237, 60 89 era original, */
/*cor referencia da barbie #ec4399*/
/*cor referencia da enrolados #CCCCFF*/
body {
    background-color: #CCCCFF;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    user-select: none;
}


.header {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 40px;
    flex-shrink: 0;
    user-select: auto;
    transition: transform 0.2s ease;
}

.header:active {
    transform: translateY(3px);
}

#main {
    justify-content: center;
    font-family: "DynaPuff";
    color: white;
    font-size: 30px;
    cursor: default;
}

.fa-book {
    color: white;
    padding: 5px 0;
    font-size: 30px;
    user-select: none;
}

.areainpt {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 3px;
}

#caixa {
    height: 32px;
    width: 80%;
    border-color: transparent;
    background-color: white;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    caret-color: rgb(207, 60, 60);
    font-size: 16px;
    color: rgb(53, 52, 52);
    font-family: "DynaPuff";
    outline: none;
    padding: 0 10px; /*move o caret pro lado do input*/
}

.btnok {
    display: flex;
    height: 32px;
    width: 10%;
    background-color: white;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    border-color: transparent;
    align-items: center;
    padding: 0;
    border: 0;
}

.fa-check {
    cursor: pointer;
    font-size: 28px;
    flex: 1;
    color: #CCCCFF;
    transition: transform 1s ease;
}

.fa-check.clicado {
    animation: animation-check 0.4s;
}

@keyframes animation-check {
    0% {
        color: #CCCCFF;
    }
    50% {
        color: rgb(131, 131, 131);
        transform: scale(1.1);
    }
    100% {
        color: #CCCCFF;
    }
}


.contBotoes {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    column-gap: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.editBtn {
    height: 40px;
    min-width: 40%;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    border-color: #CCCCFF;
    cursor: pointer;
    font-family: "DynaPuff";
    font-size: 14px;
    transition: transform 0.3s ease;
}

.botaoEditarClicado {
    transform: scale(1.1);
    color: white;
    border: 0.8px solid #7f7fe1;
    background-color: #9898f9;
}

.orderByBtn {
    height: 40px;
    min-width: 40%;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    border-color: #CCCCFF;
    cursor: pointer;
    font-family: "DynaPuff";
    font-size: 14px;
    transition: transform 0.3s ease;
}

.botaoOrdenarClicado {
    transform: scale(1.1);
    color: white;
    border: 0.8px solid #7f7fe1;
    background-color: #9898f9;
}




.contLista {
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: center;
    max-height: calc(100vh - 250px);
}

.box {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1;
    background-color: whitesmoke;
    border-radius: 30px;
    margin: 15px 35px 20px 35px;
    overflow: hidden;
    scrollbar-width: none;
    overflow-y: auto; /*rolagem interna se encher a box de itens */
    padding: 10px;
    position: relative;
}

#nulltxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: DynaPuff;
    color: rgba(79, 79, 79, 0.361);
    pointer-events: none;
    cursor: default;
    user-select: none;
}

#nulltxt.sumido {
    display: none;
}

#direitos {
    position: absolute;
    bottom: 12px;
    color: rgba(135, 136, 136, 0.596);
    font-size: 8px;
    left: 50%;
    transform: translate(-50%);
    font-family: Arial, Helvetica, sans-serif;
}





/* estilizacao do item da lista */

.item-lista {
    display: flex;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    column-gap: 6px;
}

.item-lista span {
    font-family: DynaPuff;
    font-size: 14px;
    text-decoration: underline;
    color: black;
    word-break: break-all;
    overflow-wrap: break-word;
}

/* isso chama todos os input de DENTRO do .item-lista */
.item-lista input[type="checkbox"] {
    appearance: none;
    height: 15px;
    width: 15px;
    border: 1px solid rgba(0, 0, 0, 0.719);
    border-radius: 2px;
    background-color: whitesmoke;
    cursor: pointer;
    transition: background 0.6s ease;
    flex-shrink: 0;
}

.item-lista input[type="checkbox"]:checked {
    background-color: #CCCCFF;
    border-color: #CCCCFF;
    border: 0.5px solid rgba(0, 0, 0, 0.226);
    position: relative;
}

.item-lista input[type="checkbox"]:checked::before {
    content: "✓";
    font-size: 13px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item-lista input:checked + span {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.39);
    transition: color 0.5s ease;
    text-decoration-color: rgba(0, 0, 0, 0.856);
}




.fundoCampoVazio {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.fundoCampoVazio.fechado{
    display: none;
}

.caixa-mensagem {
    display: flex;
    user-select: none;
    flex-direction: column;
    row-gap: 30px;
    background-color: white;
    height: 100px;
    max-width: 300px;
    border-radius: 10px;
    padding: 20px 10px 5px 10px;
    text-align: center;
    font-family: DynaPuff;
    font-size: 13px;
    align-items: center;
}

#fecharCampoVazio {
    background-color: whitesmoke;
    font-family: DynaPuff;
    border-radius: 9px;
    outline: transparent;
    border-color: #CCCCFF;
    cursor: pointer;
    width: 80%;
    transition: transform 0.5s ease;
}

#fecharCampoVazio.clicado2 {
    animation: animation-entendido 0.5s;
}

@keyframes animation-entendido {
    0% {
        color: black;
        background-color: whitesmoke;
    }
    50% {
        color: white;
        background-color: #CCCCFF;
    }
    100% {
        color: black;
        background-color: whitesmoke;
    }
}