* {
    margin: 0;
    padding: 0;
}

/*237, 60 89 era original, */
/*cor referencia da barbie #ec4399*/
/*cor referencia da enrolados #CCCCFF*/
body {
    background-color: #CCCCFF;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.header {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 40px;
    flex-shrink: 0;
}

#main {
    justify-content: center;
    font-family: "DynaPuff";
    color: white;
    font-size: 30px;
    cursor: default;
}

.fa-book {
    color: white;
    padding: 5px 0;
    font-size: 30px;
}

.areainpt {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 5px;
}

#caixa {
    height: 28px;
    width: 80%;
    border-color: transparent;
    background-color: white;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    caret-color: rgb(207, 60, 60);
    font-size: 14px;
    color: rgb(53, 52, 52);
    font-family: "DynaPuff";
    outline: none;
    padding: 0 10px; /*move o caret pro lado do input*/
}

.btnok {
    display: flex;
    width: 10%;
    height: 28px;
    background-color: transparent;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    border-color: transparent;
}

.fa-bookmark {
    color: white;
    padding: 0;
    font-size: 28px;
    cursor: pointer;
}

/* fazer animation depois de regular pra solid
.fa-bookmark:hover {
    transition: 0.3s;
}*/

.contLista {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1;
}

.box {
    background-color: whitesmoke;
    flex: 1;
    margin: 70px 35px 35px 35px;
    border-radius: 30px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#direitos {
    position: absolute;
    top: 103%;
    color: rgba(240, 248, 255, 0.596);
    font-size: 8px;
    overflow-y: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#nulltxt {
    font-family: DynaPuff;
    color: rgba(79, 79, 79, 0.361);
}