* {
    margin: 0;
    padding: 0;
}

/*237, 60 89 era original, */
/*cor referencia da barbie #ec4399*/
/*cor referencia da enrolados #CCCCFF*/
body {
    background-color: #CCCCFF;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    user-select: none;
}

.header {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 40px;
    flex-shrink: 0;
    user-select: auto;
    transition: transform 0.2s ease;

}

.header:active {
    transform: translateY(3px);
}

#main {
    justify-content: center;
    font-family: "DynaPuff";
    color: white;
    font-size: 30px;
    cursor: default;
}

.fa-book {
    color: white;
    padding: 5px 0;
    font-size: 30px;
    user-select: none;
}

.areainpt {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 3px;
}

#caixa {
    height: 28px;
    width: 80%;
    border-color: transparent;
    background-color: white;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    caret-color: rgb(207, 60, 60);
    font-size: 14px;
    color: rgb(53, 52, 52);
    font-family: "DynaPuff";
    outline: none;
    padding: 0 10px; /*move o caret pro lado do input*/
}

.btnok {
    display: flex;
    height: 32px;
    width: 10%;
    background-color: white;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    border-color: transparent;
    align-items: center;
}

.fa-check {
    cursor: pointer;
    font-size: 30px;
    flex: 1;
    color: #CCCCFF;
    transition: transform 1s ease;
}

.fa-check.clicado {
    animation: animation-check 0.4s;
}

@keyframes animation-check {
    0% {
        color: #CCCCFF;
    }
    50% {
        color: rgb(131, 131, 131);
        transform: scale(1.1);
    }
    100% {
        color: #CCCCFF;
    }
}


.contLista {
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1;
    background-color: whitesmoke;
    margin: 70px 35px 35px 35px;
    border-radius: 30px;
    overflow: hidden;
    scrollbar-width: none;
    overflow-y: auto; /*rolagem interna se encher a */
    padding: 10px;
    position: relative;
}

#nulltxt {
    font-family: DynaPuff;
    color: rgba(79, 79, 79, 0.361);
    pointer-events: none;
    cursor: default;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nulltxt.sumido {
    display: none;
}

#direitos {
    position: absolute;
    top: 98%;
    color: rgba(135, 136, 136, 0.596);
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
}


.item-lista {
    height: 30px;
    width: 100%;
}

.item-lista span {
    font-family: DynaPuff;
    font-size: 14px;
    text-decoration: underline;
    color: black;
}